body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
  z-index: 1000;
}

.fixed-nav {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fixed-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.fixed-nav a:hover {
  color: #3498db;
}

.placeholder {
  height: 120px; 
}

section {
  padding: 2em;
  text-align: center;
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.text-content {
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.image-content {
  flex: 1;
  text-align: right;
}

.image-content img {
  max-width: 90%;
  max-height: 90%;
}

.text-content {
  flex: 1;
  text-align: left;
  margin-bottom: 20px; 
}

.discover-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.discover-button:hover {
  background-color: #555;
}

#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.about-section .text-content {
  text-align: left;
  font-size: 18px;
}

.about-section .image-content {
  text-align: left;
}

.about-section p {
  text-align: left; 
}

.text-content {
  margin-bottom: 20px; 
}

#internship {
  text-align: center;
}

.internship-content {
  max-width: 800px;
  margin: 0 auto;
}

.internship-box {
  display: inline-block;
  width: 45%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: text;
  transition: border-bottom 0.3s ease;
}

.left-box {
  text-align: left;
}

.right-box {
  text-align: left;
}

.box-heading {
  font-weight: bold;
}

.learn-more-button {
  background-color: #8c8f91;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: text;
}

#internship-details {
  display: none;
}

#internship-details .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#internship-details .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: text;
}

.internship-box {
  display: inline-block;
  width: 45%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: text;
  transition: border-bottom 0.3s ease;
}

.right-box {
  text-align: left;
}

.internship-box:hover {
  border-bottom: 4px solid #36383a;
}

#service {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.service-container {
    max-width: 1200px;
    margin: 0 auto;
}

.service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.service-box {
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: text;
    transition: background-color 0.3s ease;
}

.service-box h3 {
    font-size: 1.2em;
}

.service-box:hover {
    background-color: #272829;
    color: #fff;
}

#qna {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.qna-container {
  max-width: 1200px;
  margin: 0 auto;
}

.qna-box {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.qna-box h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.toggle-answer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #0f0f0f;
  font-size: 1.5em;
  cursor: pointer;
}

.answer {
  display: none;
}

.qna-box:hover {
  background-color: #778080;
  color: #fff;
}

#contact {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: left;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.contact-info,
.contact-form {
  width: 45%;
}

.contact-info h2,
.contact-form h2 {
  font-size: 1.5em;
}

.contact-info p,
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
  margin-bottom: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form button {
  width: 90px; 
  padding: 10px 20px; 
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #5c75c9; 
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}
